# Dependencies
node_modules
.pnp
.pnp.js

# Next.js
.next/
out/
build/
dist/

# Production
/build

# Testing
/coverage

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local env files
.env
.env*.local

# Vercel
.vercel

# Typescript
*.tsbuildinfo
next-env.d.ts

